<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/styles.css">
    <link rel="stylesheet" href="/templates/headerStyle.css">
    <title>About Us</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="/">
                    techinEZ
                </a>
            </div>

            <ul>
                <li class="nav-text"><a href="/">Home</a></li>
                <li>|</li>
                <li class="nav-text"><a href="/finder">Use tech finder</a></li>
                <li>|</li>
                <li class="nav-text"><a href="/compare">Compare tech</a></li>
                <li>|</li>
                <li class="nav-text"><a href="/account" target="_blank">Account</a></li>
                <li>|</li>
                <li class="nav-text"><a href="/about">About Us</a></li>
            </ul>
            <button id="dark-mode-btn"> <img id="dark-btn" src="/templates/Moon.png"> <img id="light-btn" src="/templates/Sun.png"> </button>
        </nav>
    </header>
    <main>
        <div class="container">
            <h2>About Us</h2>
            <p>Welcome to TechinEZ, your go-to destination for a seamless 
                and personalized online shopping experience. At TechinEZ, 
                we are driven by a passion for simplifying the way you discover 
                and choose tech products. Our mission is to provide a user-friendly 
                platform that empowers you to find the perfect products based on your 
                unique preferences, specifications, and budget.
            </p>

            <h2>Our Vision</h2>
            <p>At TechinEZ, we envision a future where tech enthusiasts and everyday consumers 
                alike can effortlessly navigate the world of e-commerce, making informed decisions 
                tailored to their needs. We strive to be the leading platform that not only streamlines 
                the product search process but also enhances the overall online shopping journey.
            </p>

            <h2>Join Us on This Journey</h2>
            <p>Embark on this exciting journey with TechinEZ! 
                Whether you're a tech enthusiast eager to explore 
                the latest innovations or a budget-conscious shopper 
                seeking the best deals, there's a place for you in our 
                community. Join us as we revolutionize the online shopping 
                landscape, making it more accessible, enjoyable, and tailored to your preferences.
            </p>
        </div>
    </main>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/templates/script.js"></script>
    <script src="/templates/darkMode.js"></script>
</body>
</html>
