<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controll Panel</title>
    <link rel="stylesheet" href="controll_panel.css">
    <script src='control_panel.js'></script>
</head>
<body>
  
      <div class="main_box" id="m_box">
        <h1 style="text-align: center;">Collected feedbacks</h1>
         <div class="m_class">
          <h1>Feed1</h1>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi, molestias quam laudantium a doloremque, ullam fugiat mollitia necessitatibus blanditiis sed ratione? Id qui tenetur ex aliquid aut, ab aperiam quam!</p>
         </div>
         <div class="m_class">
          <h1>Feed2</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est minima repudiandae ad ipsum porro sapiente ex a qui omnis culpa itaque eos reiciendis cumque hic quam dolorem expedita, aut dolorum.</p>
         </div>
        </div>
</body>
</html>