<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/styles.css">
    <link rel="stylesheet" href="/templates/headerStyle.css">
    <script src="/templates/contact.js"></script>
    <title>Contact Us</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="/">
                    techinEZ
                </a>
            </div>

            <ul>
                <li class="nav-text"><a href="/">Home</a></li>
                <li>|</li>
                <li class="nav-text"><a href="/finder">Use tech finder</a></li>
                <li>|</li>
                <li class="nav-text"><a href="/compare">Compare tech</a></li>
                <li>|</li>
                <li class="nav-text"><a href="/account" target="_blank">Account</a></li>
                <li>|</li>
                <li class="nav-text"><a href="/about">About Us</a></li>
            </ul>
            <button id="dark-mode-btn"> <img id="dark-btn" src="Moon.png"> <img id="light-btn" src="Sun.png"> </button>
        </nav>
    </header>
    <main>
        <div class="contact-content">
            <h2 id="hidden_greet" style="opacity: 0;"></h2>
            <p>We'd love to get your feedback</p>

            <h2>Feedback Form</h2>
            <form action="/contact", method="post" id="myForm">
          
                <div class="form-group">
                    <label for="message">Your Message:</label>
                    <textarea id="user_message" name="message" placeholder="Write your message" required></textarea>
                </div>
                <div class="form-group">
                    <button class="cta-button" type="submit" id="my_btn">Send Message</button>
                </div>
                <p id="mess-resp" style="color: white; background-color: brown; font-size: 24px; margin-left: 25px; border-radius: 8px;  padding: 4px; width: fit-content; text-align: center; opacity: 0; transition: all 0.9s ease;"></p>
            </form>
        </div>
    </main>
    <!-- <script src="/script.js"></script> -->
</body>
</html>
