@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body
{
    font-family: 'Roboto', sans-serif;
}

.container 
{
    text-align: center;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.container img
{
    object-fit: contain;
    padding-right: 50px;
    padding-left: 50px;
}

.container a
{
    text-decoration: none;
    color: black;
}

#results p 
{
    text-align: left;
}

#results h3
{
    padding-top: 25px;
    padding-bottom: 25px;
}

input 
{
    padding: 10px;
    width: 300px;
}

select
{
    padding: 10px;
    width: 323px;
    background-color: white;
    border-width: 1px;
}

button 
{
    background-color: #880808;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

/* Style the disabled button */
button:disabled 
{
    opacity: 0.6;
    background-color: #ccc;
    color: #888;
    cursor: not-allowed;
}

/* Disable user interactions for the button */
button:disabled 
{
    pointer-events: none;
}

.category {
    display: none;
    margin-top: 30px;
}

.firstCategory
{
    display: block;
}

.result-line 
{
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.result-line img 
{
    max-width: 100px;
    height: auto;
    margin-right: 10px;
}

.product-info 
{
    flex: 1;
}

.product-info h3 
{
    font-size: 20px;
    margin: 0;
}

.product-info p 
{
    margin: 5px 0;
}

