<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/finderStyles.css">
    <link rel="stylesheet" href="/templates/headerStyle.css">
    <link rel="stylesheet" href="/templates/footerStyle.css">
    <title>Tech Product Finder</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="/home">
                    techinEZ
                </a>
            </div>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/login">Log In</a></li>
                <li><a href="/finder">Use tech finder</a></li>
                <li><a href="/compare">Compare tech</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        
        <div class="loader-container">
            <div class="loader-wrapper">
                <img src="/templates/Loading icon.gif">
                <p>Your request is being processed...</p>
                <span class="loader"><span class="loader-inner"></span></span>
            </div>
        </div>

        <div class="container">
            
            <form action="http://127.0.0.1:5000" method="POST" id="myForm" class="form_con" >
                <div class="firstCategory" id="category1">
                    <!-- Category 1 content goes here -->
                    <label for="p_name">Product name</label>
                    <input type="text" class="productInput" id="input1" placeholder="Enter the name of the product" autocomplete="off" autofocus name="p_name" required>
                    <button id="doneButton1" disabled >Done</button>
                </div>
                <div class="category" id="category2">
                    <!-- Category 2 content goes here -->
                    <label for="b_budget">Budget</label>
                    <input type="text" class="productInput" id="input2" placeholder="Enter your budget" autocomplete="off" name="b_budget" required>
                    <button id="doneButton2" disabled>Done</button>
                </div>
                <div class="form-buttons display-control">
                    <button type="submit" id="btn_sub" class="bt">Submit</button>
                    <button type="button" class="add-attribute" id="btn_add"> &plus; Add attribute</button>
                    <div id="tooltip" class="tooltip">
                        <p>To add specifications for a more specific result <br> (5 specs MAX)</p>
                    </div>
                </div>
            </form>

            <div id="results" style="display: none;">

                <div class="store-container" id="bestbuy-container">
                    <img src="/templates/Bestbuy logo.png" alt="Website Logo">

                </div>

                <div class="store-container" id="amazon-container">
                    <img src="/templates/Amazon_logo.png" alt="Website Logo">

                </div>

                <button onclick="window.location.reload()">Search again</button>

                <h2> Are you satisfied with the results?</h2>
                <a href="/feedback"> Give us your feedback </a>
                
            </div>
        </div>

        <div class="display-control">
            <footer>
                <p>&copy; techinEZ</p>
            </footer>
        </div>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/templates/finderScript.js"></script>
    <script src="/templates/finderAdd.js"></script>
    <script src="/templates/sender.js"></script>
</body>
</html>
