<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/templates/loginStyles.css">
    <link rel="stylesheet" href="/templates/headerStyle.css">

    <title>Login Page</title>
</head>
<body id="container">
    <header>
        <nav>
            <div class="logo">
                <a href="/home">
                    techinEZ
                </a>
            </div>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/login">Log In</a></li>
                <li><a href="/finder">Use tech finder</a></li>
                <li><a href="/compare">Compare tech</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="login-container">
            <h2>Login</h2>
            <form action="/login" method="post">
                <div class="form-group">
                    <label for="useremail">Useremail:</label>
                    <input type="text" id="username" name="useremail" placeholder="Enter your username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password" required>
                </div>
                <div class="form-group">
                    <button type="submit">Login</button>
                </div>
            </form>
            <p>Don't have an account? <a href="/signup">Sign up here</a></p>
        </div>
    </main>

    <script src="/templates/parallaxEffect.js"></script>
</body>
</html>
