<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/templates/loginStyles.css">
    <link rel="stylesheet" href="/templates/headerStyle.css">
    <script src="/templates/signup.js"></script>
    <!-- <script src="/signup.js"></script> -->
    <title>Sign Up Page</title>
</head>
<body id="container">
    <header>
        <nav>
            <div class="logo">
                <a href="/">
                    techinEZ
                </a>
            </div>

            <ul>
                <li class="nav-text"><a href="/">Home</a></li>
                <li>|</li>
                <li class="nav-text"><a href="/finder">Use tech finder</a></li>
                <li>|</li>
                <li class="nav-text"><a href="/compare">Compare tech</a></li>
                <li>|</li>
                <li class="nav-text"><a href="/account" target="_blank">Account</a></li>
                <li>|</li>
                <li class="nav-text"><a href="/about">About Us</a></li>
            </ul>
            <button id="dark-mode-btn"> <img id="dark-btn" src="/templates/Moon.png"> <img id="light-btn" src="/templates/Sun.png"> </button>
        </nav>
    </header>
    <main>
        <div class="login-container">
            <h2>Sign Up</h2>
            <form  action="/signup" method="post" class="signup-form" id="myForm">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="user" name="username" placeholder="Enter your username" required>
                </div>
                <div class="form-group">
                    <label for="useremail">Email:</label>
                    <input type="email" id="u_email" name="useremail" placeholder="Enter your email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="pass" name="password" placeholder="Enter your password" required>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password:</label>
                    <input type="password" id="con_pass" name="confirmPassword" placeholder="Confirm your password" required>
                </div>
                <div class="form-group">
                    <button type="submit" id="my_btn">Sign Up</button>
                </div>
            </form>
            <p>Already have an account? <a href="/login">Log in here</a></p>
            <p id="mess-resp" style="color: white; background-color: brown; font-size: 24px; margin-left: 25px; border-radius: 8px;  padding: 4px; width: fit-content; text-align: center; opacity: 0; transition: all 0.9s ease;"></p>
        </div>
        
    </main>
    

    <script src="/templates/parallaxEffect.js"></script>
</body>
</html>
